<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id= "FirstComponent" class="pl.pjatk.szymaj.FirstComponent"></bean>
    <bean id= "SecondComponent" class="pl.pjatk.szymaj.SecondComponent"></bean>
    <bean id= "ThirdComponent" class="pl.pjatk.szymaj.ThirdComponent"></bean>
</beans>